* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 1366px;      
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 5px rgb(182, 179, 179);
}

.logo-wrapper {
    margin-left: 1.25rem;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.06rem;    
}

.logo-sub {
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
}

nav {
    display: inline-block;
}

.menu-li {    
    list-style-type: none;
}

.menu-li li{
    display: inline-block;
    margin-right: 1rem;
}

.shopping-cart-wrapper {
    margin-right: 1.25rem;
    display: inline-block;
}

.books-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.products {
    padding: 15px 20px;
}

.our-books {
    text-align: center;
    margin-bottom: 15px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 19px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgb(182, 179, 179);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    height: 200px; 
    border: 2px solid rgb(182, 179, 179);  
}

.author, .price {
    font-size: 0.85rem;
    text-align: center;
}

.author {
    color: rgb(85, 82, 82);
}

.price {
    font-size: 1rem;
}

.title {
    text-align: center;
}

.product-img, .author, .title, .price {
    margin-bottom: 15px;
}

.price-value {
    color: red;
}

.card-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-button, .popup-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(182, 179, 179); 
}

.show-more, .popup-close {
    background-color: antiquewhite;
    margin-right: 3px;
}

.show-more:hover, .popup-close:hover {
    background-color: rgb(255, 245, 231);
    cursor: pointer;
}

.add-to-cart {
    background-color: tomato;
    margin-left: 3px;
}

.add-to-cart:hover {
    background-color: rgb(253, 115, 91);
    cursor: pointer;
}

/*popup window*/

.popup {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;

}

.popup-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.popup-description {
    font-size: 1.25rem;
    margin-bottom: 20px
}

.popup-close {
    width: 30%;
}



/* footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: black;
    box-shadow: -2px -2px 5px rgb(182, 179, 179);
}

.github-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.github:link {
    color: white;
    text-decoration: none;
}

.github:visited {
    color: white;
    text-decoration: none;
}

.github:hover {
    color: lightgray;
    text-decoration: none;
}

.github:active {
    color: tomato;
    text-decoration: none;
}